<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,500&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
  <script src="/javascripts/skycons.js"></script>
  <script>
    const skycons = new Skycons({color: 'rgb(40, 55, 65)'});
    skycons.add("icon", '{{weather.icon}}');
    skycons.play();
  </script>
</html>
